<!DOCTYPE html>
<html>
<head>
  <title>AirBmC</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  <% if current_user %>
    window.currentUser = "<%= current_user.username.html_safe %>"
  <% end %>
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
